[package]
name = "_fluvio_python"
version = "0.9.0"
edition = "2018"
authors = ["Fluvio Contributors <team@fluvio.io>"]

[lib]
crate-type = ["cdylib"]
name = "_fluvio_python"

[build-dependencies]
flapigen = "0.6.0-pre7"
env_logger = "^0.9"
log = "^0.4.6"

[dependencies]
cpython = { version = "0.7", features = ["extension-module"] }
fluvio = { version = "0.11.0" }
fluvio-future = { version = "0.3.12", features = ["task", "io"] }
